extends base
block content
  body
    .container
      .row.justify-content-center
        .col-md-4
          .card.mt-5
            .card-body
              h3.text-center Login
              form.loginform
                .form-group.mb-3
                  label(for="email") Email
                  input#email.form-control(type="email" name="email" placeholder="Enter your email" required)
                .form-group.mb-3
                  label(for="password") Password
                  input#password.form-control(type="password" name="password" placeholder="Enter your password" required)
                .form-group.mb-3.text-center
                  button.btn.btn-primary.btn-block(type="submit") Login
                .form-group.mt-3.text-center
                  a(href="/register") Don't have an account? Register
